@import '../App.scss';

button {
    padding: 15px;
    border-radius: 4px;
    border: none;
    background: $primary-color;
    box-shadow: $box-shadow-input;
    
    color: #fff;
    font-weight: 500; 

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}