@import '../App.scss';

button {
    position: relative;

    padding: 15px;
    border-radius: 4px;
    border: none;
    box-shadow: $box-shadow-input;
    
    color: #fff;
    font-weight: 500; 

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover > .tooltip {
        opacity: 1;
    }

    &:disabled {
        background-color: $disabled-background;
        border: $disabled-border;
        color: $disabled-color;

        cursor: default;
    }
}