@import '../App.scss';

.container--login {
    height: 100%;
    padding: 2rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 2rem;

    button {
        background: #4285f4;
        padding: 2px;
        box-shadow: $box-shadow;        

        .google-icon {
            background: #fff;
            border-radius: 4px;

            width: 40px;
            height: 40px;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        span {
            padding: 0 8px;

            color: #fff;
            font-size: 12.8px;
        }
    }
}