@import '../App.scss';

.pointsheets--container {
    display: flex;
    width: 100%;
    height: calc(100% - 148px);
    background: #F3F3F4;

    .pointsheet--data {
        background: $primary-color;
        width: 24rem;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;

        position: relative;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: $primary-color;
        }

        &::-webkit-scrollbar-thumb {
            background: #fff;
            border-radius: 6px 0 6px 0;
        }

        .pointsheet--search {
            position: fixed;
            width: 24rem;

            height: 5rem;
            background: $primary-color;
            padding: 0.5rem;

            z-index: 1;
        }

        .pointsheet--inner-content {
            width: 100%;
            padding: 5rem 0.5rem;

            .download-all {
                display: flex;
                flex-direction: row;
                gap: 16px;
                background: #fff;
                padding: 8px 16px;
                border-radius: 4px;
                cursor: pointer;
                transition: all .3s ease;

                strong {
                    font-size: 14px;
                }

                &:hover {
                    background: #f4f4f4;
                    transform: scale(1.01);
                }
            }

            .sheet--box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 0.5rem;

                position: relative;

                .sheet--info {
                    background: '#fff';

                    display: flex;
                    flex-direction: column;
                    row-gap: 0.5rem;

                    strong,
                    span {
                        color: #fff;
                    }

                    span {
                        &:nth-child(3) {
                            max-width: 20rem;
                            height: 1rem;
                            font-size: 13.8px;

                            overflow: hidden;
                        }
                    }
                }

                .sheet-actions {
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.5rem;
                }

                &::after {
                    content: '';
                    background: #fff;
                    width: 100%;
                    height: 1px;

                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }

    .pointsheet--render {
        width: calc(100% - 24rem);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 1.5rem 0;

        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: $primary-color;
        }

        &::-webkit-scrollbar-thumb {
            background: #fff;
            border-radius: 6px 0 6px 0;
        }
    }

    .show--menu {
        height: 48px;
        width: 48px;
        background: $primary-color;
        border-radius: 48px;

        display: none;
        align-items: center;
        justify-content: center;

        position: fixed;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}

@media (max-width: $layout-breakpoint-medium) {
    .pointsheets--container {
        .pointsheet--data {
            width: 100% !important;
            padding: 0 1rem;

            .pointsheet--search {
                width: 92%;

                position: absolute;
            }

            &.closed {
                display: none;
            }
        }

        .show--menu {
            display: flex;
        }

        .pointsheet--render {
            width: 0;
            display: none;

            &.open {
                height: 100%;
                width: 100%;
                display: flex;
                margin-top: 1rem;
            }
        }
    }
}