@import '../App.scss';

.settings--container {
    max-width: 40rem;
    min-width: 20rem;

    .settings--content {
        width: 100%;
        display: flex;
        // justify-content: center;
        flex-wrap: wrap;
        row-gap: 1.5rem;
        column-gap: 1.5rem;

        .title {
            display: flex;
            align-items: stretch;
        }

        .current-semester {
            display: flex;
            justify-content: space-between;
        }
    }

    .user--settings {
        max-height: 25rem;
        overflow-y: hidden;

        .users--container {
            overflow-y: scroll;
            overflow-x: hidden;
            padding-right: 0.5rem;

            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-track {
                background: #fff;
            }

            &::-webkit-scrollbar-thumb {
                background: $card-color;
                border-radius: 6px 0 6px 0;
            }
        }
    }
}